h1 {
  color: #774a56;
}

.flexBox {
  display: flex;
  justify-content: space-evenly;

}

/* a {
  color: #282a2b;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: #e6b1be;
  margin: 5px;
} */
